_auth = cmFuYWFtaXlhNzBAZ21haWwuY29tOkFLQ3A4bkdGYU1oZ3NVNmlScWZtdTVjbzNoWkNhOFA5M0JyYjRXVDhUc3NxSG43dlJ1Tm56bjJLVTJLN3J3SmszZ0I1OVFDaFk=
email = ranaamiya70@gmail.com
always-auth = true
registry = https://devopsamiya.jfrog.io/artifactory/api/npm/snapshots-npm/