_auth = cmFuYWFtaXlhNzBAZ21haWwuY29tOkFQNHc1UXFxeFRiU2Z1ZmI3dHJIeDF4NWdUNw==
always-auth = true
email = ranaamiya70@gmail.com

# registry = https://devopsamiya.jfrog.io/artifactory/api/npm/snapshots-npm/


# https://devopsamiya.jfrog.io/artifactory/api/npm/snapshots-npm/