_auth = ranaamiya70@gmail.com:Aklm@*6754 (converted to base 64)
email = youremail@email.com
always-auth = true
# registry = https://devopsamiya.jfrog.io/artifactory/api/npm/project-virtual-npm/


# https://devopsamiya.jfrog.io/artifactory/api/npm/snapshots-npm/